.about-wrapper {
    .about-content {
        margin-right: 30px;

        @include breakpoint (max-xl){
            margin-right: 0;
        }

        .about-text {
            margin-top: 25px;
        }

        .icon-box {
            @include flex;
            gap: 16px;
            margin-top: 30px;

            .icon {
                margin-right: 15px;
            }


            .content {
                h4 {
                    margin-bottom: 10px;
                }

                p {
                    max-width: 410px;
                }
            }
        }
    }

    .about-image {
        position: relative;
        z-index: 9;

         @include breakpoint (max-xxl){
            img {
                @include imgw;
            }
        }

        .about-count-box {
            position: relative;
            position: absolute;
            bottom: 0;
            left: 0;

             @include breakpoint (max-lg) {
                display: none;
             }

            img {
                width: initial;
                height: initial;
            }

            .about-counter-item {
                position: absolute;
                bottom: 23%;
                left: 33%;

                h2 {
                    font-size: 64px;
                    color: $white;
                }

                p {
                    color: $white;
                    font-weight: 600;
                }
            }
        }
    }
}

.about-wrapper-2 {
    .about-iamge {
        img {
            @include imgw;
        }
    }

    .about-content {
        margin-left: 50px;

        @include breakpoint (max-lg) {
            margin-left: 0;
        }

        .about-text {
            margin-top: 20px;
        }

        .client-info-area {
            display: flex;
            margin-top: 25px;
            gap: 30px;

            @include breakpoint (max-xl){
                flex-wrap: wrap;
                gap: 20px;
            }

            .client-info {
                @include flex;
                gap: 20px;

                p {
                    margin-top: 6px;
                }
            }
        }

        .nav{
            display: flex;
            align-items: center;
            margin-top: 30px;
            .nav-item {
                .nav-link {
                    font-size: 18px;
                    color: $header-color;
                    font-weight: 500;
                    background: $bg-color;
                    padding: 11px 24px;
                }
                .active{
                    background-color: $theme-color;
                    color: $white;
                }
            }
        }

        .about-tab-box {
            border-radius: 0 8px 8px 8px;
            background: #000E12;
            padding: 24px;
            p {
                color: $white;
                opacity: .7;
            }
           
        }
    }
}

.about-section-2 {
    position: relative;
    z-index: 9;

    .about-shape-1 {
        position: absolute;
        top: 15%;
        left: 5%;
        z-index: 1;

        @include breakpoint (max-xl){
            display: none;
        }
    }

    .about-shape-2 {
       position: absolute;
       top: 3%;
       right: -2%;

       @include breakpoint (max-xl){
            display: none;
        }
    }

    .about-shape-3 {
        position: absolute;
        bottom: 0%;
        z-index: -1;
        right: 2%;

        @include breakpoint (max-xl){
            display: none;
        }
    }
}

.about-wrapper-3 {
    .about-image-items {
        position: relative;

        @include breakpoint(max-xl){
             margin-right: 0;
	    }

        img {
            width: 100%;
            height: 100%;
        }

        .about-counter {
            position: absolute;
            right: -136px;
            bottom: 125px;
            rotate: -83deg;
            display: flex;
            align-items: center;
            gap: 10px;
            padding-top: 40px;

            @include breakpoint(max-xl){
                display: none;
	        }

            h3 {
                font-size: 64px;
                color: $theme-color;
            }

            p {
                color: $header-color;
                font-weight: 700;
            }
        }

        .about-shape {
            position: absolute;
            bottom: -28px;
            right: -41px;

            @include breakpoint(max-xl){
                display: none;
	        }
        }
    }

    .about-content {
        margin-left: 70px;

        @include breakpoint (max-xl){
            margin-left: 0;
        }

        .about-text {
            margin-top: 25px;
        }

        .icon-box {
            display: flex;
            gap: 20px;
            margin-top: 30px;

            .icon {
                width: 80px;
                height: 70px;
                line-height: 70px;
                background-color: $theme-color;
                border-radius: 4px;
                text-align: center;
            }
        }

        .about-list {
            display: flex;
            gap: 60px;
            margin-top: 20px;

             @include breakpoint (max-xl){
                flex-wrap: wrap;
                gap: 20px;
            }

            ul {
                li {
                    font-size: 18px;
                    color: $header-color;
                    i {
                        color: $theme-color;
                        margin-right: 8px;
                    }

                    &:not(:last-child){
                        margin-bottom: 15px;
                    }
                }
            }
        }

        .main-button {
            margin-top: 40px !important;
        }
    }
}