
.footer-top-items { 
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid rgba(191, 191, 191, 0.16);

    @include breakpoint (max-xl) {
            flex-wrap: wrap;
            gap: 30px;
            border: none;
        }

    h3 {
        color: $white;
        margin-left: -30px;

        @include breakpoint (max-md) {
           margin-left: 0;
        }
    }

    form {
        max-width: 615px;
        width: 100%;
        position: relative;

        input {
        background:rgba(255, 255, 255, .2);
        border: none;
        outline: none;
        padding: 18px 20px;
        width: 100%;
        border-radius: 50px;
        color: $white;

          &::placeholder {
                color: $white;
                opacity: .7;
            }

        }

         button {
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            bottom: 0;
           padding: 10px 40px;
            background-color: $theme-color;
            color: $white;
            border-radius: 50px;
            transition: all 0.4s ease-in-out;

            &:hover {
                background: $white;
                color: $black;
            }
        }
    }

}

.footer-bottom {
    background-color: #000E12;
    border-top: 1px solid rgba(191, 191, 191, 0.16);

    .footer-bottom-wrapper {
        padding: 16px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include breakpoint (max-sm) {
            flex-wrap: wrap;
             justify-content: center;
        }

        p {
            a {
                color: $theme-color;
            }
        }

        .social-icon {
            gap: 15px;
            position: relative;
            z-index: 9;

            @include breakpoint (max-sm) {
                margin-top: 15px;
            } 

            a {
                width: 36px;
                height: 36px;
                line-height: 36px;
                text-align: center;
                font-size: 16px;
                display: block;
                border-radius: 5px;
                color: $white;
                transition: all .4s ease-in-out;
                text-align: center;
                background-color: rgba(227, 227, 227, .2);

                &:hover {
                    background-color: $theme-color;
                    color: $white;
                }
            }
        }
    }
}


.footer-widget-wrapper {
    padding: 50px 0 80px;

    @include breakpoint (max-xl) {
        padding: 50px 0 60px;
    }

    .single-footer-widget {
        margin-top: 30px;

        .widget-head {
            margin-bottom: 30px;
            h3 {
                color: $white;
            }
        }

        &.single-border {
            border-right: 1px solid rgba(191, 191, 191, 0.16);
            
            @include breakpoint(max-xl){
                border: none;
            }
           
        }

        .footer-contact {

            .icon-location {
                display: flex;
                gap: 20px;
                margin-bottom: 30px;
                border-bottom: 1px solid rgba(191, 191, 191, 0.16);
                padding-bottom: 30px;


                i{
                    color: $theme-color;
                    font-size: 18px;
                }

                h6 {
                    color: $white;
                    font-size: 18px;
                    font-weight: 500;
                    margin-bottom: 5px;

                }

                span {
                    color: $white;
                    opacity: .7;
                }
                
            }

            li {
                a {
                    color: $white;
                }
            }

            &.cont {
                max-width: 520px;
            }
        }

         .list-area {
            li {
                font-weight: 400;

                &:not(:last-child){
                    margin-bottom: 15px;
                }

                a {
                    color: rgba(255, 255, 255, 0.7);
                    position: relative;


                    &:hover {
                        color: $theme-color;
                    }
                }
            }
        }
    }

    &.style-2 {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            height: 442px;
            width: 1px;
            top: 54px;
            left: 49%;
            background-color: rgba(191, 191, 191, 0.16);

             @include breakpoint (max-xxl) {
                display: none;
             }
        }

        .footer-contact-2 {
            display: flex;
            align-items: center;
            margin-top: 30px;
            gap: 32px;
            margin-top:30px;
            border-top: 1px solid rgba(191, 191, 191, 0.16);
            padding-top: 30px;

             @include breakpoint (max-xl) {
                flex-wrap: wrap;
                gap: 20px
             }

            li {
                display: flex;
                align-items: center;
                gap: 16px;

                .icon {
                    width: 72px;
                    height: 72px;
                    line-height: 72px;
                    border-radius: 8px;
                    background: rgba(255, 255, 255, 0.12);
                    backdrop-filter: blur(28px);
                    text-align: center;

                    i {
                       color: $theme-color;
                        font-size: 20px;
                    }
                }

                .content {
                    p{
                        color: $white;
                        opacity: .7;
                        font-weight: 600;
                    }
                }

            }
        }

        .newsletter-box {
            border-radius: 16px;
            background: rgba(0, 14, 18, 0.32);
            backdrop-filter: blur(28px);
            padding: 48px 40px;

            @include breakpoint(max-lg){
                 padding: 30px;
            }

            h3 {
                color: $white;
                font-size: 40px;
                font-weight: 700;
                margin-bottom: 16px;

                @include breakpoint(max-xl){
                    font-size: 36px;
                }

                @include breakpoint(max-lg){
                    font-size: 30px;
                }

                @include breakpoint(max-md){
                    font-size: 26px;
                }


            }

            form {
                position: relative;
                margin-top: 32px;
                margin-bottom: 35px;

                input {
                background:rgba(255, 255, 255, .2);
                border: none;
                outline: none;
                padding: 18px 20px;
                width: 100%;
                border-radius: 50px;
                color: $white;

                &::placeholder {
                        color: $white;
                        opacity: .7;
                    }

                }


                button {
                    position: absolute;
                    content: "";
                    top: 0;
                    right: 0;
                    bottom: 0;
                    background-color: $theme-color;
                    color: $white;
                    border-radius: 50px;
                    transition: all 0.4s ease-in-out;
                    padding: 10px 30px;

                     @include breakpoint(max-xl){
                        position: static;
                        margin-top: 20px;
                        width: 100%;
                    }

                    &:hover {
                        background: $white;
                        color: $black;
                    }
                }
            }

            p {
                color: $white;
                opacity: .7;
            }

            .social-icon {
                gap: 15px;
                position: relative;
                z-index: 9;
                justify-content: center;

            @include breakpoint (max-sm){
                margin-top: 20px;
            }

            a {
            width: 36px;
            height: 36px;
            line-height: 36px;
            text-align: center;
            font-size: 16px;
            display: block;
            border-radius: 5px;
            color: $white;
            transition: all .4s ease-in-out;
            text-align: center;
            background-color: rgba(227, 227, 227, .2);

                &:hover {
                    background-color: $theme-color;
                    color: $white;
                }
            }
            }
        }
    }


    &.style-3 {
        p {
            margin-bottom: 24px;
            padding-bottom: 24px;
            border-bottom: 1px solid rgba(191, 191, 191, 0.16);
            color: $white;
            opacity: .7;
        }

        span {
            color: $white;
        }

        .social-icon {
            gap: 15px;
            position: relative;
            z-index: 9;
            margin-top: 24px;

            a {
            width: 36px;
            height: 36px;
            line-height: 36px;
            text-align: center;
            font-size: 16px;
            display: block;
            border-radius: 5px;
            color: $white;
            transition: all .4s ease-in-out;
            text-align: center;
            background-color: rgba(227, 227, 227, .2);

                &:hover {
                    background-color: $theme-color;
                    color: $white;
                }
            }
        }

        .footer-contact-3 {
            border-bottom: 1px solid rgba(191, 191, 191, 0.16);

            .icon-location {
                display: flex;
                gap: 20px;
                margin-bottom: 20px;
                align-items: center;

                i{
                    color: $theme-color;
                    font-size: 18px;
                }

                h6 {
                    color: $white;
                    font-size: 18px;
                    font-weight: 500;
                    margin-bottom: 5px;

                }

                span {
                    color: $white;
                    opacity: .7;
                }
                
            }

        }
        .content{
            h3 {
                color: $white;
                margin-bottom: 16px;
                margin-top: 20px;
            }

            span {
                color: $white;
                opacity: .7;
                display: block;
            }

        }

        .gallery-items{
            gap:12px;
            &:not(:last-child) {
                margin-bottom: 12px;
                }
            }   
        }

    }

.footer-section-3  {
    position: relative;
    z-index: 9;
    &:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        background-color: $white;
        width: 100%;
        height: 11%;
        z-index: -1;

        @include breakpoint (max-xl) {
            top: -4%;
        }

        @include breakpoint (max-lg) {
            top: -2%;
        }
    }
        .footer-top-3 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $black;
            padding: 40px 50px;
            border-radius: 20px;

            @include breakpoint (max-xl) {
                flex-wrap: wrap;
                gap: 20px;
                justify-content: center;
        }

            h3 {
                color: $white;

                @include breakpoint (max-lg) {
                    text-align: center;
                }
            }

            form {
                max-width: 515px;
                width: 100%;
                position: relative;

                i {
                    position: absolute;
                    content: "";
                    top: 21px;
                    left: 21px;
                    font-size: 25px;
                }

                input {
                background:$white;
                border: none;
                outline: none;
                padding: 18px 20px 18px 60px;
                width: 100%;
                color: #777D7F;
                border-radius: 50px;

                &::placeholder {
                        color: #777D7F;
                    
                    }

                }

                button {
                    position: absolute;
                    content: "";
                    top: 0;
                    right: 0;
                    bottom: 0;
                    padding: 10px 40px;
                    background-color: $theme-color;
                    color: $white;
                    transition: all 0.4s ease-in-out;
                    border-radius: 50px;

                    @include breakpoint(max-md){
                        position: static;
                        margin-top: 20px;
                        width: 100%;
                    }

                    &:hover {
                        background: $header-color;
                        
                    }
                }
            }
        }
    }



    .footer-section-2 {
        .footer-logo {
            border-bottom: 1px solid rgba(191, 191, 191, 0.16);
        }
    }