//>>>>> Header Main Start <<<<<//
.menu-thumb {
	@include breakpoint (max-xl){
		display: none !important;
	}
}

.header-main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;

	.contact-list {
		@include flex;
		gap: 25px;
		padding: 10px 0;

		@include breakpoint (max-xl){
		    display: none;
	    }

		li {
			font-size: 16px;
			color: $text-color;

			a {
				color: $text-color;
			}

			i {
				margin-right: 10px;
			}
		}
	}

	
	
	.main-menu {
		
		ul {
			margin-bottom: 0;

			li {
				position: relative;
				list-style: none;
				display: inline-block;
				margin-inline-end: 48px;
	
			&:last-child {
				margin-inline-end: 0;
			}
	
			a {
				display: inline-block;
				font-size: 16px;
				font-weight: 600;
				color:  $header-color;
				padding: 20px 0;
				text-align: left;
				position: relative;
				text-transform: uppercase;
				@include transition;

				&:hover {
					color: $theme-color !important;
				}
	
			}
			.submenu {
				position: absolute;
				top: 115%;
				inset-inline-start: 0;
				min-width: 240px;
				background: $white;
				padding: 20px 0;
				z-index: 99999;
				visibility: hidden;
				opacity: 0;
				transform-origin: top center;
				color: $header-color;
				transform: translateY(-10px);
				@include transition;
				border-top: 6px solid $theme-color;
				box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

				li {
					display: block;
					width: 100%;
					margin: 0;
					
	
					a {
						position: relative;
						z-index: 11;
						font-size: 16px;
						font-weight: 600;
						color:  $header-color;
						line-height: 38px;
   						padding: 0px 0px 0px 32px;
						width: 100%;

						&::before {
							content: "";
							position: absolute;
							width: 0px;
							height: 2px;
							background: $theme-color;
							left: 14px;
							bottom: 18px;
							transition: all 0.4s ease-in-out;
						}

						&:hover {
							color: $theme-color !important;
						}
					}
					&:last-child {
						a {
							border: none;
						}
					}
					.submenu {
						inset-inline-start: 100%;
						top: 0;
						visibility: hidden;
						opacity: 0;
					}
					&:hover {
						>a {
							color: $theme-color !important;
							margin-left: 10px;

							&::before {
								width: 10px;
							}

							&::after {
								color: $theme-color;
							}
						}
						>.submenu {
							-webkit-transform: translateY(1);
							-moz-transform: translateY(1);
							-ms-transform: translateY(1);
							-o-transform: translateY(1);
							transform: translateY(1);
							visibility: visible;
							opacity: 1;
						}
					}
				}
				li.has-dropdown {
					>a {
						&::after {
							position: absolute;
							top: 50%;
							inset-inline-end: 25px;
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
							-o-transform: translateY(-50%);
							transform: translateY(-50%);
							color: $theme-color;
						}
					}
				}
			}

			.has-homemenu {
				width: 800px;
				padding: 30px 30px 10px 30px;
				opacity: 0;
				left: -250px;
				visibility: hidden;
				padding: 30px 30px 10px 30px;

				.homemenu-items {
					@include flex;
					gap: 30px;
					justify-content: space-between;

					@include breakpoint (max-lg){
						flex-wrap: wrap;
					}

					.homemenu {
						position: relative;
						.homemenu-thumb {
							position: relative;
	
							.demo-button {
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
								width: 70%;
								gap: 10px;
								display: flex;
								justify-content: center;
								flex-direction: column;
								opacity: 0;
								visibility: hidden;
								@include transition;
								margin-top: 20px;
	
								.theme-btn {
									padding: 14px 20px;
									color: $white !important;
									width: initial;
									font-size: 16px;
									text-align: center;
									border-radius: 30px !important;
									line-height: initial;

									&::before,&::after {
										display: none;
									}
	
									&:hover {
										background: $header-color;
									}
								}
							}
	
							&::before {
								background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 19, 19, 0)), to(#5e5ef6));
								background: linear-gradient(to bottom, rgba(99, 92, 92, 0) 0%, #252527 100%);
								background-repeat: no-repeat;
								background-size: cover;
								background-position: center;
								width: 100%;
								height: 100%;
								position: absolute;
								left: 0;
								top: 0;
								overflow: hidden;
								opacity: 0;
								-webkit-transition: all 0.3s ease-in-out;
								transition: all 0.3s ease-in-out;
								content: "";
							}
							&:hover{
	
								&::before {
									visibility: visible;
									opacity: 1;
								}
	
								.demo-button {
									opacity: 1;
									visibility: visible;
									margin-top: 0;
								}
								& .homemenu-btn {
									opacity: 1;
									visibility: visible;
									bottom: 50%;
									transform: translateY(50%);
								}
							}
							img {
								width: 100%;
							}
						}
	
						.homemenu-title {
							text-align: center;
							margin: 15px auto;
							display: inline-block;
							font-size: 18px;
                            font-weight: 600;
                            font-family: $body-font;
						}
					}
				}
			}
			
			&:hover {
				>a {
					color:  $theme-color;

					&::after {
						color:  $theme-color;
					}
				}
				>.submenu {
					visibility: visible;
					opacity: 1;
					transform: translateY(0px);
				}
			  }
			}

			.search-icon {
				font-size: 20px;
			}

			&.style-2 {
				.search-icon {
					color: $white;
				}
			}
		}
	}

	.header-right {
		gap: 20px;

		.main-button {

             &:hover {
                .theme-btn,.arrow-btn {
                    background-color: $white;
                    color: $black;
                }
            }
        }

		@include breakpoint (max-xxl){
			gap: 20px;
		}
		
	}

	.sidebar__toggle {
		cursor: pointer;
		font-size: 20px;
		color: $white;
		width: 56px;
		height: 56px;
		line-height: 56px;
		border-radius: 50%;
		border: 1px solid $white;
		text-align: center;
	}
}

//>>>>> Header 01 Start <<<<<//
.header-1 {
	position: relative;

	.logo2 {
		display: none;
		
		@include breakpoint (max-xxl){
			display: block;
		}
	}

	.logo {
		@include breakpoint (max-xxl){
			display: none;
		}
	}

	.main-button {
		@include breakpoint (max-xl){
			display: none;
		}
	}

	.sidebar__toggle {
		@include breakpoint (max-xl){
			color: $header-color;
		}
	}

	.main-menu {
		padding-top: 15px;
	}

	&::before {
		content: "";
		position: absolute;
		width: 580px;
		height: 100%;
		background-color: $theme-color;
		top:0;
		left: 0;
		z-index: -1;
		clip-path: polygon(0 0, 95% 0, 75% 100%, 0% 100%);

		@include breakpoint (max-xxxl){
			width: 330px;
		}

		@include breakpoint (max-xxl){
			display: none;
		}

	}

	&::after {
		content: "";
		position: absolute;
		width: 615px;
		height: 100%;
		background-color: $header-color;
		right: 0;
		top:0;
		z-index: -1;
		clip-path: polygon(20% 0, 100% 0,100% 100%, 0 100%);

		@include breakpoint (max-xxxl){
			width: 380px;
		}

		@include breakpoint (max-xxl){
			display: none;
		}
	}

	.header-main {
		position: relative;

			&::before {
			position: absolute;
			content: "";
			height: 1px;
			width: 964px;
			left: 15%;
			top: 42%;
			background: rgb(119, 125, 127, .1);
			
			@include breakpoint (max-xxl){
				display: none;
			}
		}
	}

	.container {
		max-width: 1634px;
	}

	.menu-sear {
		padding: 0;

		@include breakpoint (max-xxl){
			display: none;
		}

		a {
			padding: 0 !important;
			text-align: center !important;
		}
	}

	.search-trigger {
		width: 56px;
		height: 56px;
		line-height: 56px;
		text-align: center;
		border-radius: 50%;
		border: 1px solid #C6C9CA;
		display: inline-block;
		text-align: center;
		justify-content: center;
	}
}

.header-2 {
	position: absolute;
	background-color: $white;
	top: 16px;
	left: 120px;
	width: 100%;
	right: 0;
	z-index: 9999;
	width: calc(100% - 240px);
	padding: 0 32px;
	padding-left: 50px;

	@include breakpoint (max-xxxl){
		padding-right: 30px;
		left: 30px;
		width: calc(100% - 60px);
	}

	@include breakpoint (max-xxl){
		left: 20px;
		width: calc(100% - 40px);
		padding: 0 20px;
	}

	.logo2 {
		display: none;
		
		@include breakpoint (max-xxl){
			display: block;
		}
	}

	.logo {
		@include breakpoint (max-xxl){
			display: none;
		}
	}

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		content: "";
		height: 100%;
		width: 370px;
		background-color: $theme-color;

		@include breakpoint (max-xxl){
			display: none;
		}
	}

	&::after {
		position: absolute;
		top: 0;
		right: 0;
		content: "";
		height: 100%;
		width: 414px;
		background-color: $theme-color;

		@include breakpoint (max-xxxl){
			width: 400px;
		}

		@include breakpoint (max-xxl){
			display: none;
		}
	}

	.logo {
		position: relative;
		z-index: 1;
	}

	.header-right {
		position: relative;
		z-index: 2;

		.search-icon {
			color: $text-color;
		}

		@include breakpoint (max-xxl){
			.search-trigger {
				background-color: $header-color !important;
				color: $white !important;
			}
		}

		.sidebar__toggle {
			background-color: $header-color;
		}
	}
	.container {
		max-width: 1634px;
	}

	.main-menu {
		ul {
			li {
				a {
					color: $header-color
				}
			}
		}
	}

	.search-icon {
		font-size: 20px;
		color: $white;
	}
	
	.main-button  {
		margin-top: 0;

		@include breakpoint (max-xxl){
			display: none;
		}

		.theme-btn {
			background-color: $white;
			color: $header-color
		}

		.arrow-btn {
			background-color: $white;
			color: $header-color
		}
	}

	.header-right {
		.search-trigger {
		width: 56px;
		height: 56px;
		line-height: 56px;
		text-align: center;
		border-radius: 50%;
		background-color: $white;
		display: inline-block;
		text-align: center;
		justify-content: center;
		color: $header-color;
	}
	}
}

.header-section-3 {
	position: relative;
	z-index: 9999;
	background: #F1F1F1;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		content: "";
		width: 437px;
		height: 100%;
		background-color: #000E12;
		z-index: 1;
		    clip-path: polygon(0 0, 95% 0, 75% 100%, 0% 100%);

		@include breakpoint (max-xl4){
			    width: 325px;
		}

		@include breakpoint (max-xxl){
			    display: none;
		}
	}

	.head-logo {
		position: relative;
		z-index: 9;
	}

	&::after {
		position: absolute;
		top: 41%;
		left: 0;
		right: 0;
		content: "";
		width: 100%;
		height: 55%;
		background-color: var(--white);
		z-index: -1;

		@include breakpoint (max-lg){
			display: none;
		}
	}

	.container {
		max-width: 1665px;
	}

	.header-wrapper-3 {
		@include flex;
		justify-content: space-between;
		gap: 140px;

		.head-right-item {
			width: 100%;

			.header-top-wrapper-3 {
				@include flex;
				justify-content: space-between;
				padding: 15px 0;

				@include breakpoint (max-lg){
					display: none;
				}

				.head-top {
					@include flex;
					gap: 32px;

					li {
						@include flex;
						gap: 10px;
					}
				}

				.heads-right {
					@include flex;
					gap: 30px;

					p {
						color: $header-color;
					}
					.social-icon {
						gap: 12px;

						a {
							display: inline-block;
							width: 32px;
							height: 32px;
							line-height: 32px;
							text-align: center;
							background-color: $white;
							border-radius: 4px;
							color: $text-color;

							&:hover {
								background-color: $theme-color;
								color: $white;
							}
						}
					}
				}
			}
		}

		.header-3 {
			//padding: 0 30px;
			padding-right: 0;
			position: relative;

			&::before {
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				content: "";
				width: 354px;
				height: 100%;
				background-color: $theme-color;

				@include breakpoint (max-xxl){
			display: none;
		}
			}

			.search-trigger {
				display: inline-block;
				border-radius: 50%;
				width: 56px;
				height: 56px;
				border: 1px solid #C6C9CA;
				text-align: center;
				line-height: 56px;

				
			}

			.header-right {
				gap: 60px;
				position: relative;
				z-index: 99;

				@include breakpoint (max-lg){
					gap: 20px;
				}

				.header-client-info {
					@include flex;
					gap: 12px;

					@include breakpoint (max-xxl){
						display: none;
					}

					.icon {
						width: 56px;
						height: 56px;
						line-height: 56px;
						background-color: $white;
						text-align: center;
						border-radius: 50%;
						color: $header-color;
					}

					.content {
						p {
							color: $white;
							opacity: 0.7;
						}

						h4 {
							color: $white;
							font-size: 18px;
							letter-spacing: 0.5px;
						}
					}
				}
			}

			.sidebar__toggle {
				width: initial;
				height: initial;
				line-height: initial;
				border: none;
				background-color: transparent;
				color: $white;
				padding-right: 28px;

				@include breakpoint (max-xxl){
					color: $header-color;
				}
			}
		}
	}
}

//>>>>> Sticky Start <<<<</
.sticky {
	position: fixed !important;
	top: 0 !important;
	left: 0;
	width: 100%;
	z-index: 100;
	transition: all 0.9s;
	background-color: $white;
	-webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
	animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

	&.header-2 {
		&::after {
			width: 475px;
		}
	}

	&.header-3 {
		padding-left: 30px;
		
		.header-left {
			display: block !important;
		}
	}

}

//>>>>> Offcanvas Start <<<<<//
.offcanvas__info {
	background: $white none repeat scroll 0 0;
	border-left: 2px solid  $theme-color;
	position: fixed;
	right: 0;
	top: 0;
	width: 400px;
	height: 100%;
	-webkit-transform: translateX(calc(100% + 80px));
	-moz-transform: translateX(calc(100% + 80px));
	-ms-transform: translateX(calc(100% + 80px));
	-o-transform: translateX(calc(100% + 80px));
	transform: translateX(calc(100% + 80px));
	-webkit-transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	-moz-transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	z-index: 99999;
	overflow-y: scroll;
	overscroll-behavior-y: contain;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

.offcanvas__info.info-open {
	opacity: 1;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}

.offcanvas__wrapper {
	position: relative;
	height: 100%;
	padding: 30px 30px;

	.offcanvas__content {
		.text {
			color: $text-color;
		}

		.offcanvas__close {
			width: 45px;
			height: 45px;
			line-height: 45px;
			text-align: center;
			border-radius: 50%;
			background-color: $theme-color;
			position: relative;
			z-index: 9;
			cursor: pointer;

			i {
				color: $white;
			}
		}

		.offcanvas__contact {
			margin-top: 20px;

			ul {
				margin-top: 20px;

				li {
					font-size: 16px;
					font-weight: 600;
					text-transform: capitalize;

					a {
						color: $text-color;
					}

					&:not(:last-child){
						margin-bottom: 15px;
					}

					.offcanvas__contact-icon {
						margin-right: 20px;

						i {
							color: $theme-color;
						}
					}
				}
			}

			span {
				text-transform: initial;
			}

			.header-button {
				
				.theme-btn {
					width: 100%;
					padding: 20px 40px;
					text-transform: capitalize !important;
				}
			}

			.social-icon {
                margin-top: 30px;
                gap: 10px;

                a {
                    width: 45px;
                    height: 45px;
                    line-height: 45px;
                    text-align: center;
                    font-size: 16px;
                    display: block;
                    background: transparent;
                    color: $text-color;
                    border-radius: 50%;
                    -webkit-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
                    text-align: center;
                    border: 1px solid $border-color;

                    &:hover {
                        background-color: $theme-color;
                        color: $white;
                    }
                }
            }
		}
	}
}

.offcanvas__overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #151515;
	z-index: 900;
	top: 0;
	opacity: 0;
	visibility: hidden;
	right: 0;
}

.offcanvas__overlay.overlay-open {
	opacity: 0.8;
	visibility: visible;
}

@media (max-width:450px) {
	.offcanvas__info {
		width: 300px;
	}
}

@media (max-width: 575px) {
	.offcanvas__wrapper {
		padding: 20px;
	}
}




.error-items {
    text-align: center;

    .error-image {
        margin-bottom: 30px;

        img {
            @include imgw;
        }
    }

    .theme-btn {
        background-color: $header-color;
        color: $white;

        &::before {
            background-color: $theme-color;
        }

        &:hover {
            color: $white;
        }
    }
}


//>>>>> Breadcrumb Start <<<<<//
.breadcrumb-wrapper{
	position: relative;
    z-index: 9;

    @include breakpoint (max-xxl){
        margin-bottom: 0;
    }


	.shape {
		position: absolute;
		bottom: -70px;
		right: 2%;

		@include breakpoint (max-xl){
			display: none;
		}
	}


	.page-heading{
		position: relative;
		padding: 200px 0 200px;
		z-index: 9;

		@include breakpoint (max-lg){
			padding: 120px 0 120px;
		}

		@include breakpoint (max-xl){
			text-align: center;
		}

		h1 {
			color: $white;
			font-size: 72px;
			position: relative;
			text-transform: uppercase;
			z-index: 9;
            font-weight: 700;
		
		
			@include breakpoint(max-xl){
				font-size: 60px;
			}
		
			@include breakpoint(max-sm){
				font-size: 42px;
			}
		
			@include breakpoint(max-xxs){
				font-size: 30px;
			}

		}

		.breadcrumb-items{
			display: inline-flex;
            justify-content: center;
			margin-top: 20px;
			gap: 10px;

			@include breakpoint (max-sm){
				margin-top: 20px;
			}
			
			li{
				color: $white;
				text-transform: capitalize;
				font-weight: 400;
				font-size: 16px;
				line-height: 1.4;
	
				a {
					color: rgba(255, 255, 255, 0.50);
					@include transition;
                    color: $theme-color;
	
					&:hover{
						color: $theme-color;
					}

					i {
						color: $theme-color;
						margin-right: 5px;
					}
				}
	
				i {
					color: $white;
				}
			}
		}
	}

	.breadcrumb-image {
		position: absolute;
		bottom: 0;
		top: 0;
		right: 140px;

		@include breakpoint (max-xxxl){
			right: 30px;
		}

		@include breakpoint (max-xl){
			display: none;
		}
	}
}

.error-items {
	text-align: center;

	.thumb {
		max-width: 730px;
		margin: 0 auto;

		img {
			@include imgw;
		}
	}

	.content {

		h2 {
			font-size: 72px;
			font-weight: 800;

			@include breakpoint (max-lg){
                    font-size: 56px;
                    margin-bottom: 20px;
                }

				@include breakpoint (max-md){
                    font-size: 36px;
                    margin-bottom: 20px;
                }

			@include breakpoint (max-sm){
                    font-size: 26px;
                    margin-bottom: 20px;
                }
		}

		p {
			margin-top: 30px;
		}

		.main-button {
			margin-top: 40px;
			justify-content: center;
		}
	}
}