.hero-1 {
    padding: 130px 0 0;

    @include breakpoint (max-lg){
        padding-top: 80px;
    }

    .hero-image {
        direction: rtl;

        @include breakpoint (max-lg) {
            margin-top: 50px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .hero-content {
        margin-right: -100px;
        margin-left: 20px;
        margin-top: -100px;

        @include breakpoint (max-xl){
            margin-top: 0;
        }

         @include breakpoint (max-lg) {
            margin-right: 0;
            margin-left: 0;
         }

        .hero-text {
            margin-top: 25px;
            color: $white;
            opacity: .7 !important;
            margin-bottom: 40px;
            max-width: 590px;

            @include breakpoint (max-md) {
            margin-bottom: 30px;
            opacity: 1;

            }
        }

        .main-button {
            &:hover {
                .theme-btn,.arrow-btn {
                    background-color: $white;
                    color: $black;
                }
            }
        }
    }

     @include breakpoint (max-lg) {
        background-image: none !important;
        background-color: rgba(0, 14, 18, 1) !important;
     }
}

.hero-2 {
    padding: 210px 0 100px;
    overflow: hidden;

    @include breakpoint(max-xl){
		padding: 200px 25px;
	}

	@include breakpoint(max-lg){
		padding: 170px 20px;
	}

    .hero-content {
        max-width: 730px;
        margin-left: 155px;

         @include breakpoint (max-xl){
            margin-left: 0;
        }

        h1 {
            font-size: 70px;
            line-height: 111%;

            @include breakpoint (max-xxxl){
		    font-size: 54px;
	        }
            @include breakpoint (max-xxl){
		    font-size: 40px;
	        }

            @include breakpoint (max-lg){
                font-size: 39px;
            }

            @include breakpoint (max-sm){
                font-size: 32px;
            }

        }

        p {
            color: $white;
            opacity: .7 !important;
            margin-bottom: 40px;
            max-width: 700px;

            @include breakpoint (max-md) {
            margin-bottom: 30px;
            opacity: 1;

            }
        }

        .hero-text {
            margin-top: 25px;
        }

        .hero-button {
            display: flex;
            align-items: center;
            gap: 30px;

            @include breakpoint (max-xl){
                flex-wrap: wrap;
                gap: 20px;
            }

            .video-btn {
                .video-text {
                    padding: 16px 32px;
                    display: inline-block;
                    border: 1.5px solid $white;
                    color: $white;
                    font-family: "Radio Canada Big";
                    font-size: 16px;
                    font-weight: 600;
                    letter-spacing: 0.5px;
                    border-radius: 32px;

                }

                 i {
                    width: 50px;
                    height: 50px;
                    line-height: 52px;
                    text-align: center;
                    border-radius: 100px;
                    background-color: $theme-color;
                    color: $white;
                    display: inline-block;
                    font-size: 18px;

                    
                    @include breakpoint (max-md){
                        width: 50px;
                        height: 50px;
                        line-height: 50px;
                        font-size: 18px;
                        }
                    }
            }

            

            .main-button {
                display: flex;
                align-items: center;
                gap: 30px;

             &:hover {
                .theme-btn,.arrow-btn {
                    background-color: $white;
                    color: $black;
                }
            }
        }
        
        }
    }

    .hero-image {
       margin-left: -40px;

       @include breakpoint (max-xl){
        margin-left: 0;
       }

        img {
            @include breakpoint(max-xl4){
                height: 100%;
                width: 100%;
            }
        }
    }
}

.hero-3 {
    padding: 0 0 150px 156px;

    @include breakpoint (max-xxl){
        padding-left: 40px;
        padding-top: 100px;
    }

    @include breakpoint (max-xl){
         padding: 100px 0 100px 30px;
    }

    @include breakpoint(max-lg){
        padding: 80px 0 80px 30px;
	}

    .hero-content {
       h1 {
            font-size: 70px;
            line-height: 111%;

            @include breakpoint (max-xxxl){
		    font-size: 54px;
	        }
            @include breakpoint (max-xxl){
		    font-size: 40px;
	        }

            @include breakpoint (max-lg){
                font-size: 39px;
            }

            @include breakpoint (max-sm){
                font-size: 32px;
            }

        }

        .hero-text {
            margin-top: 25px;
            color: $white;
            opacity: .7 !important;
            max-width: 663px;
            margin-bottom: 40px;

             @include breakpoint (max-md) {
                margin-bottom: 30px;
                opacity: 1;
            }
        }

         .hero-button {
            display: flex;
            align-items: center;
            gap: 30px;
            

         .video-btn {
                .video-text {
                    padding: 16px 32px;
                    display: inline-block;
                    border: 1.5px solid $white;
                    color: $white;
                    font-family: "Radio Canada Big";
                    font-size: 16px;
                    font-weight: 600;
                    letter-spacing: 0.5px;
                    border-radius: 32px;

                }

                 i {
                    width: 50px;
                    height: 50px;
                    line-height: 52px;
                    text-align: center;
                    border-radius: 100px;
                    background-color: $theme-color;
                    color: $white;
                    display: inline-block;
                    font-size: 18px;

                    
                    @include breakpoint (max-md){
                        width: 50px;
                        height: 50px;
                        line-height: 50px;
                        font-size: 18px;
                        }
                    }
            }

        }
    }

    .hero-image {
        margin-left: -180px;
        margin-bottom: -80px;

         @include breakpoint (max-xxl) {
            margin-left: 0;
            margin-bottom: 0;
            
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}