.project-wrapper {
	margin-left: -6%;
	margin-right: -10%;

	@include breakpoint(max-xl) {
		margin: 0;
	}

	.project-box-items {
		position: relative;

		.project-image {
			position: relative;

			img {
				@include imgw;
				border-radius: 16px;
			}

			&:before {
				position: absolute;
				content: "";
				width: 100%;
				height: 100%;
				background-color: rgba(255, 255, 255, 0.32);
				opacity: 0;
				@include transition;
			}

			.project-content {
				background-color: $white;
				padding: 24px;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				line-height: 1;
				opacity: 0;
				visibility: hidden;
				@include transition;

				h3 {
					margin-bottom: 10px;
					a {
						&:hover {
							color: $theme-color;
						}
					}
				}
			}
		}

		&:hover {
			.project-content {
				opacity: 1;
				visibility: visible;
			}
			.project-image {
				&:before {
					opacity: 0.9;
				}
			}
		}
	}
}

.project-image-items-3 {
	position: relative;
	z-index: 9;

	&::before {
		border-radius: 16px;
		background: rgba(0, 14, 18, 0.32);
		backdrop-filter: blur(28px);
		@include before;
		left: 24px;
		top: 24px;
		width: calc(100% - 48px);
		height: calc(100% - 48px);
		opacity: 0;
		visibility: hidden;
		@include transition;
		justify-content: center;
	}

	img {
		border-radius: 12px;
		@include imgw;
	}

	.project-content {
		position: absolute;
		bottom: 56px;
		left: 56px;
		right: 56px;
		opacity: 0;
		visibility: hidden;
		@include transition;

		h3 {
			a {
				color: $white;

				&:hover {
					color: $theme-color;
				}
			}
		}

		p {
			margin-top: 10px;
			color: $white;
		}

		.link-btns {
			margin-top: 10px;

			&:hover {
				color: $white;
			}
		}
	}

	&:hover {
		&::before {
			opacity: 1;
			visibility: visible;
		}

		.project-content {
			opacity: 1;
			visibility: visible;
		}
	}
}

.project-section-3 {
	position: relative;
	z-index: 9;

	&::before {
		@include before;
		background-color: $white;
		height: 40%;
	}
}

.project-details-items {
	.details-image {
		img {
			border-radius: 16px;
			height: 100%;
			width: 100%;
		}
	}

	.details-content {
		margin-top: 32px;

		ul {
			@include flex;
			gap: 50px;
			margin-bottom: 15px;

			@include breakpoint(max-xl) {
				gap: 20px;
			}

			li {
				font-size: 16px;
				font-weight: 400;

				@include breakpoint(max-sm) {
					font-size: 14px;
				}

				i {
					color: $theme-color;
					margin-right: 5px;
					font-size: 22px;
				}
			}
		}

		h3 {
			margin-bottom: 15px;
			font-size: 48px;

			@include breakpoint(max-md) {
				font-size: 30px;
			}

			@include breakpoint(max-sm) {
				font-size: 24px;
			}
		}
	}

	.details-list-items {
		h3 {
			margin-top: 32px;
			margin-bottom: 16px;

			@include breakpoint(max-md) {
				margin-top: 20px;
			}
		}

		p {
			margin-top: 16px;
		}

		ul {
			li {
				font-weight: 400;
				color: $header-color;
				display: block;
				font-size: 16px;
				font-family: $body-font;

				i {
					color: $white;
					margin-right: 10px;
					background-color: $theme-color;
					width: 20px;
					height: 20px;
					border-radius: 50%;
					line-height: 21px;
					font-size: 10px;
					text-align: center;
					font-weight: 400;
				}

				&:not(:last-child) {
					margin-bottom: 14px;
				}
			}
		}
	}
	.details-img {
		margin-top: 24px;

		img {
			border-radius: 8px;
			height: 100%;
			width: 100%;
		}
	}

	.project-category {
		padding: 40px 30px;
		margin-top: -67px;
		background-color: var(--bg);
		border-radius: 16px;

		@include breakpoint(max-xl) {
			margin-top: 0;
		}

		h3 {
			border-bottom: 1px solid #c6c9ca3d;
			padding-bottom: 30px;
		}

		ul {
			li {
				font-weight: 400;
				@include flex;
				justify-content: space-between;
				border-bottom: 1px solid #c6c9ca3d;
				padding: 16px 0;
				color: $text-color;

				span {
					font-weight: 500;
					color: $header-color;
					font-size: 16px;
					font-weight: 600;

					i {
						color: $text-color;
						@include transition;

						&:hover {
							color: $theme-color;
						}
					}
				}
			}
		}
	}

	.social-list {
		padding: 40px 30px;
		margin-top: 64px;
		background-color: var(--bg);
		border-radius: 16px;

		@include breakpoint(max-xxl) {
			margin-top: 40px;
		}

		h3 {
			border-bottom: 1px solid #c6c9ca3d;
			padding-bottom: 20px;
		}

		.social-icon {
			gap: 15px;
			position: relative;
			z-index: 9;
			margin-top: 24px;

			a {
				width: 48px;
				height: 48px;
				line-height: 48px;
				text-align: center;
				font-size: 16px;
				display: block;
				border-radius: 50%;
				color: $text-color;
				transition: all 0.4s ease-in-out;
				text-align: center;
				background-color: $white;

				&:hover {
					background-color: $theme-color;
					color: $white;
				}
			}
		}
	}
}

.project-slide-3 .swiper-wrapper {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}
