
//>>>>> Section Title Start <<<<<//

.section-title{
	position: relative;
	z-index: 99;
	margin-bottom: 30px;
	// margin-top: -6px;


	h6 {
		color: $theme-color;
		font-size: 20px;
		font-weight: 600;
		line-height: 140%;
		margin-bottom: 15px;
		display: inline-flex;
		gap: 8px;
		align-items: center;

		@include breakpoint (max-lg) {
			font-size: 18px;
		}
		@include breakpoint (max-md) {
			font-size: 16px;
		}

		&.style-2 {
			color: $white;
		}

	}

	@include breakpoint (max-md){
		margin-bottom: 0;
	}
}

.section-title-area	{
	@include flex;
	justify-content: space-between;
	position: relative;
	z-index: 9;
	margin-bottom: 30px;

	@include breakpoint (max-md){
		margin-bottom: 0;
	}

	.section-title {
		margin-bottom: 0;
	}

	
	@include breakpoint (max-lg) {
		flex-wrap: wrap;
		// justify-content: center;
		// text-align: center;
	}

	p {
		max-width: 532px;
	}

	.nav {
		@include flex;
		gap: 20px;

		@include breakpoint (max-xl){
			flex-wrap: wrap;
			gap: 20px;
		}

		.nav-item {
			.nav-link {
				font-size: 16px;
				font-weight: 600;
				color: #6C706F;

				&.active {
					color: $header-color;
				}
			}
		}
	}
}


//>>>>> Section Title End <<<<<//

//>>>>> Basic Css Start <<<<<//

.center {
	text-align: center;
	margin: 0 auto;
}

.section-bg {
	background-color: $bg-color;
}

.section-bg-2 {
	background-color: $bg-color-2;
}

.theme-bg {
	background-color: $theme-color;
}

.section-padding {
	padding: 120px 0;

	@include breakpoint(max-xl){
		padding: 100px 0;
	}

	@include breakpoint(max-lg){
		padding: 80px 0;
	}
}
//>>>>> Basic Css End <<<<<//

