.service-box-items {
    border-radius: 12px;
    background-color: $white;
    border: 1.5px solid  $white;
    padding: 30px  50px;
    margin-top: 30px;
    @include transition;


    .service-image {
        img {
            @include imgw;
        }
    }

    .service-content {
        text-align: center;
        .service-icon {
            position: relative;
            width: 64px;
            height: 64px;
            background-color: $bg-color;
            line-height: 64px;
            margin: 0 auto;
            border-radius: 50%;
            margin-top: -35px;
            @include transition;

            svg {
                position: relative;
                z-index: 3;
                text-align: center;
            }
        }

        h3 {
            margin-top: 22px;

            a {
                &:hover {
                    color: $theme-color;
                }
            }
        }
    }

    &:hover {
        border-radius: 12px;
        border: 1.5px solid  $theme-color;

        .service-content {
            .service-icon {
                background-color: $theme-color;

                svg path {
                    fill: $white;
                }
            }
        }
    }
}

.service-section {
    position: relative;
    z-index: 9;

    .service-shape-1 {
        position: absolute;
        z-index: -1;
        bottom: 0;
        right: 0;
         
    }

    .array-button {
         @include breakpoint (max-xxl) {
            display: none;
         }
        .array-prev {
            position: absolute;
            content: "";
            top: 23%;
            left: 18%;
            z-index: 99;
        }

        .array-next {
            position: absolute;
            content: "";
            top :23%;
            right :18%;
            z-index: 99;
        }
    }

}

.service-box-items-2 {
    margin-top: 30px;

    .service-image {
        position: relative;
        
        img {
            @include imgw;
            border-radius: 8px;
        }

        .icon-text {
            height: 36px;
            line-height: 36px;
            background-color: #000E12;
            font-size: 18px;
            font-weight: 400;
            display: inline-block;
            padding: 0 16px;
            position: absolute;
            bottom: 15px;
            left: 94px;
            opacity: 0;
            visibility: hidden;
            color: $white;
            @include transition;

            @include breakpoint (max-xl){
                display: none;
            }
        }

        .icon {
            width: 80px;
            height: 80px;
            line-height: 80px;
            background-color: $header-color;
            border-radius: 4px;
            text-align: center;
            position: absolute;
            bottom: 15px;
            left: 15px;
            @include transition;
            

            img {
               width: initial;
               height: initial;
            }
        }
    }

    .service-content {
        padding: 16px 22px;

        h3 {
            margin-bottom: 8px;

            a {
                &:hover {
                    color: $theme-color;
                }
            }
        }

        .link-btns {
            color: $header-color;
            margin-top: 10px;

            &:hover {
                color: $theme-color;
            }
        }
    }

    &:hover {
         .service-image {
            .icon {
                 background-color: $theme-color;
            }

             .icon-text {
                opacity: 0.9;
                visibility: visible;
             }
         }
    }
}

.service-section-2 {
    position: relative;
    z-index: 9;

    .service-shape-1 {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
    }
}

.service-box-items-3 {
    margin-top: 30px;
    border-radius: 12px;
    background: #F1F1F1;

    .service-content {
        padding: 32px;

        h3 {
            margin-bottom: 8px;

            a {
                &:hover {
                    color: $theme-color;
                }
            }
        }
    }

    .service-image{
        img{
            border-radius: 12px;
        }
    }

    .service-image {
        position: relative;

        img {
            @include imgw;
        }

        .icon {
            width: 80px;
            height: 80px;
            line-height: 80px;
            background-color: $theme-color;
            border-radius: 4px;
            text-align: center;
            position: absolute;
            top: -12px;
            right: 30px;
            

            img {
               width: initial;
               height: initial;
            }
        }
    }
}

.service-details-wrapper {
    .details-image{
        img {
            height: 100%;
            width: 100%;
        }
    }
    
    h3 {
        color: $header-color;
        font-size: 40px;
        margin-bottom: 12px;

        @include breakpoint (max-md){
            font-size: 30px;
        }

        @include breakpoint (max-sm){
            font-size: 24px;
        }
    }

    .highlight-box {
        background-color: #FFF0EB;
        color :$header-color;
        margin-top: 30px;
        display: block;
        padding: 24px 32px;
        border-left: 6px solid $theme-color;
        border-radius: 8px;

        p {
            font-style: italic;
            font-weight: 600;
            font-size: 20px;
        }
    }

    .details-list-item {
        margin-top: 30px;
        margin-bottom: 40px;

         h3 {
            font-size: 24px;
            margin-bottom: 24px;
         }

          ul {

            li {
                text-transform: capitalize;

                span {
                    font-weight: 500;
                    color: $header-color;
                    display: block;
                    font-size: 18px;
                    font-family: $heading-font;
                    margin-bottom: 8px;
                   
                    i {
                        color: $white;
                        margin-right: 10px;
                        background-color: $theme-color;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        line-height: 20px;
                        font-size: 12px;
                        text-align: center;
                        font-weight: 400;
                    }
                }

                &:not(:last-child){
                    margin-bottom: 16px;
                }
            }
         }

        p {
            margin-top: 24px;
        }
    }

    .feature-box {
        margin-bottom: 32px;

        .feature-image {
            img {
                height: 100%;
                width: 100%;
            }
        }

        .feature-content {
            h3 {
                font-size: 24px;
                margin-bottom: 24px;
            }

            ul {

                li {
                    font-weight: 500;
                    color: $header-color;
                    display: block;
                    font-size: 16px;
                    font-family: $heading-font;
                    
                    i {
                        color: $white;
                        margin-right: 10px;
                        background-color: $theme-color;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        line-height: 20px;
                        font-size: 12px;
                        text-align: center;
                        font-weight: 400;
                    } 
                    
                    &:not(:last-child){
                        margin-bottom: 14px;
                    }
                }
            }
        }
    }

     .faq-content {
        margin-top: 40px;
        .accordion-item {
            border: none !important;
            background: $bg-color;
            border-radius: 5px;
    
            .accordion-header { 
                .accordion-button { 
                    font-weight: 500;
                    color: $header-color;
                    letter-spacing: -.2px;
                    border: none !important;
                    font-family: $heading-font;
                    border-radius: 0;
                    box-shadow: none;
                    background: #F4F4F4;
                    padding: 20px 30px 0;
                    text-transform: capitalize;
                    font-size: 20px;
                    
                   
    
                    @include breakpoint (max-xl){
                        font-size: 18px;
                    }
    
                    @include breakpoint (max-sm){
                        font-size: 18px;
                        padding: 20px 20px 0;
                    }
    
                    &::after {
                        font-weight: 500;
                        transition: all 0.3s ease-in-out !important;
                        position: absolute;
                        top: 22px;
                        right: 24px;
                        content: "\f324";
                        color: $header-color;
                        font-family: $fa;
                        background-image: none;
                    }
                    &:not(.collapsed)::after {
                        font-weight: 500;
                        color: $theme-color;
                        transform: rotate(0);
                            background-image: none;
                            content: "\f322";
                    }
    
                    &.collapsed {
                        background: #F4F4F4;
                        padding: 22px 30px;
                        color: $header-color;
                        border-radius: 16px;
                    }
                }
            }
    
            .accordion-collapse { 
                .accordion-body {
                    padding-left: 33px;
                    padding-top: 15px;
                    padding-right: 40px;
                    color: $text-color;
                    background: $bg-color;
                    padding-bottom: 28px;
                    border-radius: 16px;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
    
                    @include breakpoint (max-md){
                        padding-left: 60px;
                    }
    
                    @include breakpoint (max-sm){
                        padding-left: 20px;
                        padding-bottom: 20px;
                    }
                }
            }
        }
    }

    .main-sideber {

        .single-sideber-widget {
            margin-bottom: 40px;
            background-color: $bg-color;
            padding: 30px;
            border-radius: 16px;

            .search-widget {
                form {
                    width: 100%;
                    position: relative;
            
                    input,textarea{
                        background-color: $white;
                        font-size: 18px;
                        font-weight: 400;
                        padding: 16px 20px;
                        width: 100%;
                        border: none;
                        color: $text-color;
                    }

                    textarea {
                    padding-bottom: 90px;
                    resize: none;
                    outline: none;
                }
            
                    button {
                        width: 100%;
                        border-radius: 8px;
                        font-size: 16px;
                        background-color: var(--theme);
                        color: var(--white);
                        text-align: center;
                        transition: all 0.3s ease-in-out;
                        padding: 20px 24px;
                        border-radius: 100px;
                        margin: 0;

                        i {
                            margin-left: 10px;
                        }
                                            
                        &:hover {
                            background-color: $header-color;
                        }
                    }
                }
            }

            .widget-title {
                border-bottom: 1.5px solid rgb(129 129 129 / 24%);
                padding-bottom: 16px;
                margin-bottom: 30px;
                position: relative;

                &::before {
                    position: absolute;
                    content: "";
                    width: 80px;
                    height: 3px;
                    background-color: $theme-color;
                    left: 0;
                    bottom:-2px;

                }

                h3 {
                    font-weight: 700;
                    font-size: 24px;
                }
            }

            .category-list {
                
                li {
                    @include flex;
                    justify-content: space-between;
                    font-size: 16px;
                    font-weight: 400;
                    color: $header-color;
                    @include transition;
                    background-color: $white;
                    padding: 20px 22px;
                    line-height: 1;
                    border-radius: 100px;

                    a {
                        color: $text-color;
                    }

                    i {
                        @include transition;
                        color: $text-color;
                    }

                    &:not(:last-child){
                        margin-bottom: 20px;
                    }

                    span {
                        b {
                            font-weight: 400;
                            color: $theme-color;
                        }
                    }


                    &:hover {
                        background-color: $theme-color;

                        a {
                            color: $white;
                        }

                        i,span {
                        color: $white;
                        }
                    }
                }
            }

            
        }

        .service-details-contact-bg {
                border-radius: 8px;
                padding: 48px 40px;

                h3 {
                    text-align: center;
                    color: $white;
                }

                .icon {
                    width: 80px;
                    height: 80px;
                    line-height: 88px;
                    text-align: center;
                    border-radius: 50%;
                    background-color: $header-color;
                    margin: 30px auto 20px;

                    i {
                        color: $white;
                        font-size: 30px;
                    }
                }

                p {
                    color: $white;
                    opacity: 0.7;
                }

                h3 {
                    font-size: 20px;
                    margin-top: 8px;
                    a {
                        color: $white;
                    }
                }
            }
    }
}