.team-box-items {
    margin-top: 30px;
    
    .team-image {
        position: relative;

        img {
            @include imgw;
        }

        .content {
            border-radius: 0 12px;
            background-color: $white;
            display: inline-block;
            padding: 10px 34px;
            line-height: 1;
            position: absolute;
            bottom: 0;
            left: 0;

            h4 {
                margin-bottom: 6px;

                a {
                    &:hover {
                        color: $theme-color;
                    }
                }
            }
        }

        .social-profile {
            position: absolute;
            right: -5px;
            top: 0;
            content: "";
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
            z-index: 2;
            display: inline-block;
            overflow: hidden;
            cursor: pointer;
             padding: 0 6px;

            &:hover {
                background-color: #F1F1F1;
                padding-bottom: 10px;
                border-bottom-left-radius: 10px;
            }

            ul {
                transform: translateY(-100px);
                transition: all 0.6s ease-in-out;
                opacity: 0;
                visibility: hidden;
                z-index: -1;
                display: grid;
                gap: 10px;
                align-items: center;


                li {
                    a {
                        width: 48px;
                        height: 48px;
                        line-height: 48px;
                        text-align: center;
                        display: block;
                        background: $white;
                        color: $header-color;
                        -webkit-transition: all .4s ease-in-out;
                        transition: all .4s ease-in-out;
                        text-align: center;
                        margin: 0 auto;
                        font-size: 16px;
                        border-radius: 50%;

                        &:hover {
                            background-color: $theme-color;
                            color: $white;
                        }
                        
                    }
                }
            }

            .plus-btn {
                z-index: 99;
                cursor: pointer;
                width: 48px;
                height: 48px;
                line-height: 48px;
                text-align: center;
                display: inline-block;
                background-color: $theme-color;
                color: $white;
                -webkit-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
                font-size: 16px;
                border-radius: 50%;
                margin-bottom: 10px;

                &:hover {
                    border: 1px solid rgba(30, 32, 35, 0.12);
                    background: $white;
                    box-shadow: 10px 16px 120px 1px rgba(4, 7, 56, 0.12);
                    color: $header-color;
                }
            }

            &:hover {
                ul {
                    transform: translateY(0);
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}

.team-section {
    position: relative;
    z-index: 9;

    .team-shape-1 {
        position: absolute;
        z-index: -1;
        top: 10%;
        right: 0;
    }
}

.team-box-items-2{
    position: relative ;
    background-color: $bg-color;
    padding: 40px;
    border-radius: 20px;
    z-index: 9;

    &::before {
        position: absolute;
        content: "";
        width: 75px;
        height: 75px;
        background-color: $white;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
        border-top-left-radius: 15px;
    }

    .bg-hover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        border-radius: 20px;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        @include transition;

        &::before {
            @include before;
           background: linear-gradient(180deg, rgba(0, 14, 18, 0) 34.28%, var(--Text-Primary, #000E12) 100%);

             border-radius: 20px;
        }
    }

    .team-image {
        @include transition;

        img {
           width: 280px;
           height: 280px;
           border-radius: 50%;
           object-fit: cover;
        }
    }

    .content {
        margin-top: 45px;

        h4 {
            a {
                font-size: 24px;
                &:hover {
                    color: $theme-color;
                }
            }
        }
    }

    .social-profile {
        position: absolute;
        right: 10px;
        bottom: 10px;
        content: "";
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
        z-index: 2;
        display: inline-block;
        overflow: hidden;
        cursor: pointer;

        ul {
            transform: translateY(100px);
            transition: all 0.6s ease-in-out;
            opacity: 0;
            visibility: hidden;
            z-index: -1;
            display: grid;
            gap: 10px;
            align-items: center;

            li {
                a {
                    width: 48px;
                    height: 48px;
                    line-height: 48px;
                    text-align: center;
                    display: block;
                    background: $white;
                    color: $header-color;
                    -webkit-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
                    text-align: center;
                    margin: 0 auto;
                    font-size: 16px;
                    border-radius: 50%;

                    &:hover {
                        background-color: $theme-color;
                        color: $white;
                    }
                }
            }
        }

        .plus-btn {
            z-index: 99;
            cursor: pointer;
            width: 48px;
            height: 48px;
            line-height: 48px;
            text-align: center;
            display: inline-block;
            background-color: $theme-color;
            color: $white;
            -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
            font-size: 16px;
            border-radius: 50%;
            margin-top: 10px;
            position: relative;
            

            &:hover {
                border: 1px solid rgba(30, 32, 35, 0.12);
                background: $white;
                box-shadow: 10px 16px 120px 1px rgba(4, 7, 56, 0.12);
                color: $header-color;
            }
        }

        &:hover {
            ul {
                transform: translateY(0);
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &:hover {
        .bg-hover {
            opacity: 1;
            visibility: visible;
        }
       

        .team-image {
            opacity: 0;
            visibility: hidden;
        }

        .content {
            h4 {
                a {
                    color: $white;
                }
            }

            p {
                 color: $white;
            }
        }
    }
}

.team-box-items-3 {
    margin-top: 30px;
    
    .team-image {
        position: relative;
        overflow: hidden;

      

        img {
            @include imgw;
            @include transition;
            // clip-path: polygon(0 0, 87% 0, 100% 15%, 100% 70%, 100% 100%, 0 100%, 0% 70%, 0% 30%);
            border-radius: 12px;
        }

        .team-content {
            position:absolute;
            bottom: 0;
            padding-left: 24px;
            padding-top: 8px;
            padding-bottom: 8px;
            left: 0;
            right: 0;
            width: 100%;
            background-color: $white;
            border-radius: 0 0 12px 12px;

            .arrow-4 {
                    position: absolute;
                top: 0;
                   right: 76px;
                bottom: 0;

                img {
                    width: initial;
                    border-radius: 0;
                }
            }

            &::before {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                content: "";
                background-color: #000E12;
                height: 100%;
                width: 76px;
                @include transition;
            }

        h3 {
            margin-bottom: 5px;

           a {

                &:hover {
                    color: $theme-color;
                }
           }
        }

        p {
            color: $text-color;
        }

       
        }

         .social-profile {
            position: absolute;
            right: 14px;
            bottom: 16px;
            content: "";
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
            z-index: 9;
            display: inline-block;
            overflow: hidden;
            cursor: pointer;

            ul {
                transform: translateY(100px);
                transition: all 0.6s ease-in-out;
                opacity: 0;
                visibility: hidden;
                z-index: -1;
                display: grid;
                gap: 10px;
                align-items: center;

                li {
                    a {
                        width: 48px;
                        height: 48px;
                        line-height: 48px;
                        text-align: center;
                        display: block;
                        background: $white;
                        color: $header-color;
                        -webkit-transition: all .4s ease-in-out;
                        transition: all .4s ease-in-out;
                        text-align: center;
                        margin: 0 auto;
                        font-size: 16px;
                        border-radius: 50%;

                        &:hover {
                            background-color: $theme-color;
                            color: $white;
                        }
                    }
                }
            }

            .plus-btn {
                z-index: 99;
                cursor: pointer;
                width: 48px;
                height: 48px;
                line-height: 48px;
                text-align: center;
                display: inline-block;
                background-color: transparent;
                color: $white;
                -webkit-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
                font-size: 16px;
                border: 1px solid transparent;
                margin-top: 30px;
                border-radius: 12px;

                &:hover {
                  
                }
            }

            &:hover {
                ul {
                    transform: translateY(0);
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    

    &:hover {
        .team-image {
            &::after {
                left: -30%;
                opacity: 1;
                top: -20%;
                transition-duration: 0.5s, 0.5s, 0.15s;
                transition-property: left, top, opacity;
                transition-timing-function: linear;
            }

            .team-content {
                &::before {
                    background-color: $theme-color
                }
            }
        }
    }
}

.team-details-wrapper {
    .team-details-image {
        img {
            @include imgw;
            border-radius: 16px;
        }
    }

    .team-details-content {
        margin-left: 40px;
        @include breakpoint (max-lg){
            margin-left: 0;
        }

        .details-info {
            border-bottom: 1px solid $border-color;
            padding-bottom: 20px;
            margin-bottom: 20px;

            h3 {
                margin-bottom: 5px;
            }

            span {
                color: $text-color;
            }
        }

        .progress-wrap {
            .pro-items {
                width: 100%;

                &:not(:last-child){
                    margin-bottom: 30px;
                }
                .pro-head {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 10px;

                    .title {
                        font-size: 16px;
                        font-weight: 600;
                        color: $black;
                    }
                    
                    .point {
                        font-size: 16px;
                        color: $black;
                        font-weight: 600;
                    }
                }
                .progress {
                    background: $bg-color;
                    justify-content: flex-start;
                    border-radius: 100px;
                    align-items: center;
                    position: relative;
                    display: flex;
                    height: 12px;
                    width: 100%;
                }
                
                .progress-value {
                    animation: load 3s normal forwards;
                    border-radius: 0;
                    background: $theme-color;
                    height: 12px;
                    width: 0;
                    border-radius: 16px;
                }
                .style-two{
                    animation: load2 3s normal forwards;
                }
               
                @keyframes load {
                    0% { width: 0; }
                    100% { width: 85%; }
                }

                @keyframes load2 {
                    0% { width: 0; }
                    100% { width: 95%; }
                }
            }
        }

        .social-icon {
            margin-top: 40px;

            span {
                font-size: 16px;
                font-weight: 700;
                color: $header-color;
                margin-right: 15px;
            }

            a {
                width: 36px;
                height: 36px;
                line-height: 36px;
                text-align: center;
                border: 1px solid $border-color;
                display: inline-block;
                color: $text-color;
                @include transition;

                &:not(:last-child){
                    margin-right: 5px;
                }

                &:hover {
                    background-color: $theme-color;
                    color: $white;
                    border: 1px solid transparent;
                }
            }
        }
    }

    .team-single-history {
        .title {
            border-bottom: 1px solid #CDCED0;
            padding-bottom: 30px;
        }

        h5 {
            font-weight: 600;

            span {
                border: 1px solid $theme-color;
                color: $theme-color;
                font-size: 14px;
                font-weight: 400;
                padding: 6px 16px;
                border-radius: 16px;
                margin-left: 20px;
            }
        }
    }
}