.testimonial-box-item-3 {
    text-align: center;

    .star {
        color: #ECB014;
    }

    h4 {
        font-size: 32px;
        font-style: italic;
        font-weight: 500;
        color: $text-color;
        margin-top: 20px;

        @include breakpoint (max-xl){
            font-size: 25px;
        }

        @include breakpoint (max-xl){
            font-size: 22px;
        }

        @include breakpoint (max-md){
        font-size: 16px;
        font-weight: 400;
    }

    }

    .client-info {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: center;

        @include breakpoint (max-md){
            flex-wrap: wrap;
            gap: 10px;
            margin-top: 20px;
        }

        span {
            color: #777D7F;
            position: relative;
            padding-left: 15px;

            &::before {
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                top: 8px;
                left:0;
                background-color: var(--theme);
            }
        }
    }
}

.testimonial-section-2 {
    position: relative;
    .testimonial-wrapper-2 {
        .testimonial-left-items {
            .testimonial-content-box-2 {
                    border-left: 5px solid $theme-color;
                    padding-left: 30px;

                    @include breakpoint(max-xl) {
                        border-left: none;
                        padding-left: 0;
                    }
                        
                    .star {
                        margin-top: 30px;
                        color: #ECB014;
                    }

                    h4 {
                        font-size: 20px;
                        font-style: italic;
                        font-weight: 500;
                        color: $text-color;
                        margin-top: 10px;
                    }

                    .client-info {
                        margin-top: 25px;
                    }
            } 
        }

        .array-button {
            justify-content: center;
            gap: 30px;
            margin-top: -49px;
            z-index: 99;
            position: relative;

            @include breakpoint(max-xl) {
                justify-content: start;
                margin-top: 30px;
            }
        }

        .testimonial-image {
            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    

}

.testimonial-section-3 {
    position: relative;
    z-index: 9;

    .testimonial-shape-1 {
        position: absolute;
        z-index: -1;
        top: 17%;
        left: 15%;
    }
}


.testimonial-section {
    position: relative;
    z-index: 9;

    .shape-1 {
        position: absolute;
        z-index: -1;
        top: 17%;
        left: 12%;
         
        @include breakpoint (max-xl) {
            display: none;
        }
    }

    .shape-2 {
        position: absolute;
        z-index: -1;
        bottom: 11%;
        left: 9%;

        @include breakpoint (max-xl) {
            display: none;
        }
    }

    .shape-3 {
        position: absolute;
        z-index: -1;
        top: 22%;
        right: 20%;

        @include breakpoint (max-xl) {
            display: none;
        }
    }

    .shape-4 {
        position: absolute;
        z-index: -1;
        top: 40%;
        right: 7%;

        @include breakpoint (max-xl) {
            display: none;
        }
    }

    .shape-5 {
        position: absolute;
        z-index: -1;
        bottom: 10%;
        right: 20%;

        @include breakpoint (max-xl) {
            display: none;
        }
    }
}
.testimonial-wrapper {
    .testimonial-left-items {
        margin-top: 30px;
        .client-info-area {
            .client-info-box {
                @include flex;
                gap: 20px;
                margin-top: 30px;

                .client-content {
                    p {
                        margin-top: 5px;
                    }
                }

                &.style-2 {
                     background-color: $theme-color;
                     margin-left: 80px;
                     padding: 8px 16px;
                     border-radius: 10px;

                    @include breakpoint(max-xl){
                        margin-left: 0;
                    }

                     .client-content{
                        h4{
                            color: $white;
                        }
                        p {
                            color: $white;
                            opacity: .7;
                        }
                        
                     }
                }
            }
        }
    }

    .testimonial-right-items {
       margin-top: 30px;
       padding-left: 60px;
       position: relative;
       margin-left: 50px;

        @include breakpoint (max-lg) {
                margin-top: 20px;
                font-size: 16px;
                margin-left: 0;
                padding-left: 0;
            }

      .icon {
         position: absolute;
         content: "";
         left: 0;
         top: 0;

           @include breakpoint (max-lg) {
            display: none;
           }
        }

        .star {
            color: #ECB014;
        }
        .array-button{
            margin-top: 50px;
        }


       .testimonial-text {
            font-size: 20px;
            font-style: italic;
            font-weight: 600;
            margin-top: 20px;
            color: $header-color;

            @include breakpoint (max-lg) {
                 margin-top: 0;
                 font-size: 16px;
            }
        }
    }
}

.testi-top-slider {
    height: 330px;

     .swiper-slide.swiper-slide-active{
        .client-info-box {
            background-color: $theme-color;
            padding: 8px 16px;
            border-radius: 8px;
            margin-left: 88px;

            @include breakpoint (max-xl){
                margin-left: 0;
            }

            h4,p {
                color: $white;
            }
        }
    }
}